*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
     background-color: #eee;

}
main{
     background-color: #fff;
     display: flex;
    width: 95%;
    max-width: 1000px;
    margin: auto;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
    flex-wrap: wrap;
}
.item
{
    max-height: 265px;
    max-width: 490px;
    width: 24vw;
    height: 20vw;
    background-color: darkblue;
    margin: 5px;
}
img{
    width: 24vw ;
    height: 20vw ;



}
.topa{
    color: #000;
    text-decoration: none;
    margin-left: 400px;
    margin-right: 400px;
}
.topa:hover{
    color: rgb(255, 0, 0);

}
p{
   color: rgb(12, 139, 0);



}